<?xml version="1.0"?>
<config>
    <modules>
        <HelloWorld>
            <version>0.1.0</version>
        </HelloWorld>
    </modules>
    <frontend>
        <routers>
            <helloworld>
                <use>standard</use>
                <args>
                    <module>HelloWorld</module>
                    <frontName>helloworld</frontName>
                </args>
            </helloworld>
        </routers>
        <layout>
            <updates>
                <helloworld>
                    <file>helloworld.xml</file>
                </helloworld>
            </updates>
        </layout>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <helloworld>
                        <type>singleton</type>
                        <class>HelloWorld_Model_Observer</class>
                        <method>sales_quote_item_set_product</method>
                    </helloworld>
                </observers>
            </sales_quote_item_set_product>
            <catalog_product_is_salable_after>
                <observers>
                    <helloworld>
                        <type>singleton</type>
                        <class>HelloWorld_Model_Observer</class>
                        <method>catalog_product_is_salable_after</method>
                    </helloworld>
                </observers>
            </catalog_product_is_salable_after>
        </events>
    </frontend>
    <global>
        <blocks>
            <helloworld>
                <class>HelloWorld_Block</class>
            </helloworld>
        </blocks>
        <models>
            <helloworld>
                <class>HelloWorld_Model</class>
            </helloworld>
        </models>
    </global>
</config>
